doctype
html(lang="en")
head
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="stylesheet", href="/stylesheets/style.css")
script(src="/javascripts/main.js")
script(src="/views/error.ejs")
body
#center
p  Hello Guys my name is mehdi prg and im really appreciate that you come to my website.
#content
img(src="/images/logo.png", alt="logo")
p welcome
p #{message}
